* {
  box-sizing: border-box;
}

#container {
  background-color: mintcream;
  display: flex;
  flex-flow: row wrap;
  width: 700px;
  height: 700px;
}

.square {
  background-color: lightgray;
  border: 1px solid gray;
}

.color {
  background-color: black;
}
